<a href="https://colab.research.google.com/github/Bryanbagas/Tugas_Data/blob/main/preprocessing_Placement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [52]:
dataset = pd.read_csv('/content/drive/MyDrive/Placement_Data_Full_Class.csv')

In [53]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [54]:
print("Dataset X (Fitur) sebelum preprocessing:")
print(X)
print("\nTarget y (Label):")
print(y)

Dataset X (Fitur) sebelum preprocessing:
[[1 'M' 67.0 ... 'Mkt&HR' 58.8 'Placed']
 [2 'M' 79.33 ... 'Mkt&Fin' 66.28 'Placed']
 [3 'M' 65.0 ... 'Mkt&Fin' 57.8 'Placed']
 ...
 [213 'M' 67.0 ... 'Mkt&Fin' 69.72 'Placed']
 [214 'F' 74.0 ... 'Mkt&HR' 60.23 'Placed']
 [215 'M' 62.0 ... 'Mkt&HR' 60.22 'Not Placed']]

Target y (Label):
[270000. 200000. 250000.     nan 425000.     nan     nan 252000. 231000.
     nan 260000. 250000.     nan 218000.     nan 200000. 300000.     nan
     nan 236000. 265000. 393000. 360000. 300000. 360000.     nan 240000.
 265000. 350000.     nan 250000.     nan 278000. 260000.     nan 300000.
     nan 320000. 240000. 411000. 287000.     nan     nan 300000. 200000.
     nan     nan 204000. 250000.     nan 200000.     nan     nan 450000.
 216000. 220000. 240000. 360000. 268000. 265000. 260000. 300000. 240000.
     nan 240000.     nan 275000. 275000.     nan 275000. 360000. 240000.
 240000. 218000. 336000.     nan 230000. 500000. 270000.     nan 240000.
 300000.     nan 300000. 300000. 400000. 220000.     nan 210000. 210000.
 300000.     nan 230000.     nan 260000. 420000. 300000.     nan 220000.
     nan     nan 380000. 300000. 240000. 360000.     nan     nan 200000.
 300000.     nan 250000.     nan 250000. 280000. 250000. 216000. 300000.
 240000. 276000. 940000.     nan 250000. 236000. 240000. 250000. 350000.
 210000. 250000. 400000. 250000.     nan 360000. 300000. 250000. 250000.
 200000.     nan 225000. 250000. 220000. 265000.     nan 260000. 300000.
     nan 400000. 233000. 300000. 240000.     nan 690000. 270000. 240000.
 340000. 250000.     nan 255000. 300000.     nan     nan 300000.     nan
 285000. 500000. 250000.     nan 240000.     nan     nan     nan     nan
 290000. 300000.     nan 500000.     nan 220000. 650000. 350000.     nan
 265000.     nan     nan 276000.     nan 252000.     nan 280000.     nan
     nan     nan 264000. 270000. 300000.     nan 275000. 250000. 260000.
     nan 265000. 300000.     nan 240000. 260000. 210000. 250000.     nan
 300000.     nan 216000. 400000. 275000. 295000. 204000.     nan]

In [55]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(X[:, 2:4])  # Misalnya, pada kolom numerik seperti ssc_p dan hsc_p
X[:, 2:4] = imputer.transform(X[:, 2:4])

In [56]:
print("\nDataset X setelah penanganan missing values:")
print(X)

Dataset X setelah penanganan missing values:
[[1 'M' 67.0 ... 'Mkt&HR' 58.8 'Placed']
 [2 'M' 79.33 ... 'Mkt&Fin' 66.28 'Placed']
 [3 'M' 65.0 ... 'Mkt&Fin' 57.8 'Placed']
 ...
 [213 'M' 67.0 ... 'Mkt&Fin' 69.72 'Placed']
 [214 'F' 74.0 ... 'Mkt&HR' 60.23 'Placed']
 [215 'M' 62.0 ... 'Mkt&HR' 60.22 'Not Placed']]

In [57]:
categorical_features = [1, 3, 5, 7, 9, 11]
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features)], remainder='passthrough')
X = np.array(ct.fit_transform(X)) # Apply the transformation

In [58]:
print("\nDataset X setelah encoding kolom kategori:")
print(X)

Dataset X setelah encoding kolom kategori:
[[0.0 1.0 0.0 ... 55.0 58.8 'Placed']
 [0.0 1.0 1.0 ... 86.5 66.28 'Placed']
 [0.0 1.0 1.0 ... 75.0 57.8 'Placed']
 ...
 [0.0 1.0 0.0 ... 59.0 69.72 'Placed']
 [1.0 0.0 0.0 ... 70.0 60.23 'Placed']
 [0.0 1.0 1.0 ... 89.0 60.22 'Not Placed']]

In [59]:
le = LabelEncoder()
y = le.fit_transform(y)

In [60]:
print("\nTarget y setelah encoding:")
print(y)

Target y setelah encoding:
[19  0 12 45 39 45 45 13  8 45 15 12 45  4 45  0 28 45 45 10 17 35 33 28
 33 45 11 17 32 45 12 45 22 15 45 28 45 29 11 37 25 45 45 28  0 45 45  1
 12 45  0 45 45 40  3  5 11 33 18 17 15 28 11 45 11 45 20 20 45 20 33 11
 11  4 30 45  7 41 19 45 11 28 45 28 28 36  5 45  2  2 28 45  7 45 15 38
 28 45  5 45 45 34 28 11 33 45 45  0 28 45 12 45 12 23 12  3 28 11 21 44
 45 12 10 11 12 32  2 12 36 12 45 33 28 12 12  0 45  6 12  5 17 45 15 28
 45 36  9 28 11 45 43 19 11 31 12 45 14 28 45 45 28 45 24 41 12 45 11 45
 45 45 45 26 28 45 41 45  5 42 32 45 17 45 45 21 45 13 45 23 45 45 45 16
 19 28 45 20 12 15 45 17 28 45 11 15  2 12 45 28 45  3 36 20 27  1 45]

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [62]:
print("\nX_train setelah split:")
print(X_train)
print("\nX_test setelah split:")
print(X_test)

print("\ny_train setelah split:")
print(y_train)
print("\ny_test setelah split:")
print(y_test)

X_train setelah split:
[[0.0 1.0 1.0 ... 60.0 62.54 'Placed']
 [1.0 0.0 1.0 ... 55.6 65.63 'Placed']
 [1.0 0.0 1.0 ... 80.4 71.0 'Placed']
 ...
 [0.0 1.0 0.0 ... 80.0 67.05 'Placed']
 [0.0 1.0 1.0 ... 78.0 54.55 'Placed']
 [0.0 1.0 0.0 ... 84.0 52.64 'Placed']]

X_test setelah split:
[[1.0 0.0 1.0 ... 88.0 71.96 'Not Placed']
 [1.0 0.0 1.0 ... 58.0 55.47 'Placed']
 [1.0 0.0 0.0 ... 62.0 62.36 'Placed']
 ...
 [0.0 1.0 0.0 ... 71.0 65.69 'Not Placed']
 [0.0 1.0 1.0 ... 63.0 60.02 'Not Placed']
 [0.0 1.0 1.0 ... 58.0 54.43 'Placed']]

y_train setelah split:
[28  0 10 33 11 45  7 39 28 15  0 12 45 20 11 28 45 28  8 25 12  4 45 45
 33 12 15 11 45  7 10 45 33  3 45 45 12 45 45  0 23 11 34 12 45 17 28 45
 17 45  9 36 45 11 11 12 17 45 28 28 15 21  4 45 45 16 14  5 45 45 12 45
 12  0 23 19 15 32 38 11 43 45 20 45 12 36 27 28 19 45 33 12  1 45 45 28
 12 45 45 21 32 17 45 45 12 44 28 28 33 45  0 45 45 45 45 28 45 45 11 12
 40 12 11 36 45 32 12 41 19 45  5 12 45 22 45 15 17 28 45 42 45 45 45 45
  3 11 28 11 41 45 45 28 11 41  2 37 28 18 17  2 33 45 45 35 45 11 20 20
 19 11  1 28]

y_test setelah split:
[45 29  2 45 26 45 28  6 45 28  5 36 28 12 30 15  2 45 31 45 45 45  3 45
 45 45 13  0  5 11 13 45 28 45 45 24 15 12 28 20 45 45  5]

In [63]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

X = pd.DataFrame(X)

numerical_cols = X.select_dtypes

In [64]:
print("\nX_train setelah feature scaling:")
print(X_train)
print("\nX_test setelah feature scaling:")
print(X_test)

X_train setelah feature scaling:
[[0.0 1.0 1.0 ... 60.0 62.54 'Placed']
 [1.0 0.0 1.0 ... 55.6 65.63 'Placed']
 [1.0 0.0 1.0 ... 80.4 71.0 'Placed']
 ...
 [0.0 1.0 0.0 ... 80.0 67.05 'Placed']
 [0.0 1.0 1.0 ... 78.0 54.55 'Placed']
 [0.0 1.0 0.0 ... 84.0 52.64 'Placed']]

X_test setelah feature scaling:
[[1.0 0.0 1.0 ... 88.0 71.96 'Not Placed']
 [1.0 0.0 1.0 ... 58.0 55.47 'Placed']
 [1.0 0.0 0.0 ... 62.0 62.36 'Placed']
 ...
 [0.0 1.0 0.0 ... 71.0 65.69 'Not Placed']
 [0.0 1.0 1.0 ... 63.0 60.02 'Not Placed']
 [0.0 1.0 1.0 ... 58.0 54.43 'Placed']]